- content_for(:head) do
  %script{src: asset_path('js/blockly/blockly_compressed.js')}
  %script{src: asset_path('js/blockly/blocks_compressed.js')}
  %script{src: asset_path('js/blockly/msg/js/en.js')}
  %script{src: asset_path('js/blockly/javascript_compressed.js')}

  %script{src: minifiable_asset_path('js/blocks/index.js')}

%h1= 'Blocks'
= link_to "Back to Pools", pools_path
%br/
= link_to 'Create a New Block', new_block_path
#new-blockly
%h2= 'Edit an existing block'
%ul
  - @blocks.each do |b|
    %li= link_to b[:name], edit_block_path(id: b[:name])
